<!DOCTYPE html>
<html lang="en" class="h-full">
  <head>
    <%- include('./partials/head.ejs') %>
    <style>
      .gallery {
        column-count: 1;
        column-gap: 10px;
      }

      html {
        scroll-behavior: smooth;
      }

      .gallery img {
        width: 100%;
        display: block;
        cursor: pointer;
      }

      @media screen and (min-width: 768px) {
        .gallery {
          column-count: 2;
        }
      }

      @media screen and (min-width: 1024px) {
        .gallery {
          column-count: 3;
        }
      }

      @media screen and (min-width: 1280px) {
        .gallery {
          column-count: 4;
        }
      }

      .container {
        margin-bottom: 10px;
        position: relative;
        cursor: pointer;
      }

      .image-container {
        width: 100%;
        position: relative;
        overflow: hidden;
        margin-bottom: 7px;
      }

      /* Ensure images cover the container properly */
      .image-container img {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        object-fit: cover;
      }

      .placeholder {
        background: rgba(156, 163, 175, 0.5);
        width: 100%;
        height: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        position: absolute;
        top: 0;
        left: 0;
        animation: pulse 1.5s infinite ease-in;
      }

      @keyframes pulse {
        0% {
          opacity: 1;
        }
        50% {
          opacity: 0.5;
        }
        100% {
          opacity: 1;
        }
      }

      .image-container img {
        opacity: 0;
        transition: opacity 1s ease-in;
      }

      /* When image is displayed */
      .image-container img.visible {
        opacity: 1;
      }

      .imgOptionsContainer {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background: rgba(0, 0, 0, 0.2);
        display: flex;
        flex-direction: column;
        z-index: 1;
        opacity: 0;
        transition: opacity 1s ease-in-out;
        pointer-events: none;
      }

      .toggleOpacity {
        opacity: 1;
        pointer-events: all;
      }

      .downloadBtn {
        padding: 8px;
        background: rgba(209, 213, 219, 0.8);
        border-radius: 8px;
        position: absolute;
        right: 3px;
        top: 3px;
      }

      .tags {
        margin: 10px;
        color: white;
        width: 100%;
      }

      .likeBtn {
        padding: 10px;
        border-radius: 8px;
        background: rgba(209, 213, 219, 0.8);
        color: rgba(0, 0, 0, 0.7);
        margin: 5px;
      }

      .bookMark {
        padding: 10px;
        margin: 5px;
        background: rgba(209, 213, 219, 0.8);
        color: rgba(0, 0, 0, 0.7);
        border-radius: 8px;
      }

      .imgOptions {
        margin-top: auto;
        padding: 2px;
        position: relative;
        z-index: 1;
        width: 100%;
      }
    </style>
  </head>

  <body class="overflow-y-auto h-full relative">
    <%- include('./partials/navbar.ejs') %>

    <div class="relative headImg w-full h-3/5 custom-height">
      <img src="/Images/homebg.jpg" alt="" class="w-full h-full" />
      <div
        class="absolute inset-0 flex flex-col gap-y-4 items-center justify-center bg-black bg-opacity-25 md:gap-y-6 lg:gap-y-8"
      >
        <h1
          class="text-3xl font-bold flex flex-wrap justify-center md:text-4xl lg:text-5xl text-white sm:gap-x-2"
        >
          <p class="w-full text-center sm:w-auto">
            Discover Stunning free Images
          </p>
        </h1>
        <form
          class="search-form w-full flex justify-center"
          id="search-form"
          action="/search"
          onsubmit="performSearch(event)"
        >
          <div class="relative px-4 w-full sm:px-0 sm:w-3/4 md:w-3/5 xl:w-1/2">
            <input
              type="text"
              name="searchQuery"
              placeholder="Start your search here..."
              class="searchQueryValue py-3 px-4 w-full rounded-lg outline-none text-gray-700 placeholder:text-gray-700 md:text-xl lg:text-2xl"
            />
            <button
              type="submit"
              class="absolute h-full px-3 right-4 rounded-tr-lg rounded-br-lg text-gray-700 sm:right-0 md:text-xl hover:bg-gray-200 hover:text-black transition-colors duration-300 ease-in-out"
            >
              <i class="fa-solid fa-magnifying-glass"></i>
            </button>
          </div>
        </form>
      </div>
    </div>

    <!-- <ul class="flex w-full my-2 md:my-4 p-2 gap-x-4 justify-center md:text-xl">
      <li
        class="bg-gray-200 text-black px-6 py-2 flex items-center justify-center gap-x-2 rounded-full cursor-pointer"
      >
        All
      </li>
      <li
        class="text-black px-4 py-2 flex items-center justify-center gap-x-2 rounded-full cursor-pointer"
      >
        Images
      </li>
      <li
        class="text-black px-4 py-2 flex items-center justify-center gap-x-2 rounded-full cursor-pointer"
      >
        Videos
      </li>
    </ul> -->

    <div
      id="title-options"
      class="relative w-full my-5 md:my-10 flex py-2 px-3 justify-between items-center z-10"
    >
      <p
        class="text-xl sm:text-2xl md:text-3xl lg:text-4xl xl:text-5xl"
        id="title"
      >
        Free Stock Images
      </p>
      <div
        class="order p-2 rounded-lg cursor-pointer flex justify-center items-center gap-x-4 z-30"
        id="order"
      >
        <p class="hidden sm:block md:text-2xl">Orientation :</p>
        <div
          class="default flex justify-center items-center gap-x-2 md:text-xl bg-gray-200 p-2 rounded-lg"
        >
          <span id="orientationValue">All</span
          ><i class="fa-solid fa-caret-down" id="orientationArrow"></i>
        </div>
      </div>
      <div
        class="absolute right-0 top-full mr-2 w-44 md:w-52 lg:w-56 p-2 h-auto bg-white shadow-xl border-2 text-black hidden flex-col gap-y-1 rounded-lg z-30"
        id="order-options"
      >
        <div
          class="rounded-lg w-full hover:bg-gray-200 transition-colors duration-300 ease-in-out cursor-pointer"
        >
          <button
            class="flex gap-x-2 w-full p-2 items-center"
            onclick="filterOrientation('all')"
          >
            All
          </button>
        </div>
        <div
          class="rounded-lg w-full hover:bg-gray-200 transition-colors duration-300 ease-in-out cursor-pointer"
        >
          <button
            class="flex gap-x-2 w-full items-center p-2"
            onclick="filterOrientation('vertical')"
          >
            Portrait
          </button>
        </div>
        <div
          class="rounded-lg w-full hover:bg-gray-200 transition-colors duration-300 ease-in-out cursor-pointer"
        >
          <button
            class="flex gap-x-2 items-center p-2 w-full"
            onclick="filterOrientation('horizontal')"
          >
            Landscape
          </button>
        </div>
      </div>
    </div>

    <div
      class="m-2 p-2 hidden justify-center items-center gap-y-2 flex-col"
      id="ResultsNotFound"
    >
      <img
        src="/Images/ResultsNotFound.png"
        alt=""
        class="w-[200px] h-[200px]"
      />
      <p class="text-gray-700 text-center md:text-xl">
        Sorry , Images not found try another keyword
      </p>
    </div>
    <div class="relative gallery-container m-2 p-2" id="gallery-container">
      <div class="gallery p-2" id="gallery"></div>
      <div
        id="blur-bg"
        class="blur-bg hidden absolute items-center justify-center bottom-0 left-0 right-0 border-b-2 bg-gradient-to-t to-transparent from-white w-full h-[100px] lg:h-[150px] z-30"
      >
        <button
          class="p-4 bg-white border shadow-xl rounded-full hover:border-2 hidden"
          id="LoadMoreBtn"
        >
          Load More
        </button>
        <button
          class="p-4 bg-white border border-gray-200 shadow-xl rounded-full hidden hover:border-2"
          id="exploreMoreBtn"
        >
          Explore More Categories
        </button>
        <div
          id="endOfResultsMsg"
          class="p-4 bg-white border hidden shadow-xl rounded-full"
        >
          No more images available
        </div>
      </div>
    </div>
    <div
      id="loader"
      class="w-full justify-center items-center p-2 flex gap-x-2 text-xl"
    >
      <div
        class="w-4 h-4 lg:w-6 lg:h-6 rounded-full bg-gray-500 animate-bounce"
      ></div>
      <div
        class="w-4 h-4 lg:w-6 lg:h-6 rounded-full bg-gray-500 animate-bounce [animation-delay:-.3s]"
      ></div>
      <div
        class="w-4 h-4 lg:w-6 lg:h-6 rounded-full bg-gray-500 animate-bounce [animation-delay:-.5s]"
      ></div>
    </div>

    <!-- <section id="about" class="py-10 px-5 my-10 border-b-2 hidden">
      <div class="container mx-auto">
        <h2 class="text-2xl text-center mb-3">About Us</h2>
        <p class="text-justify text-gray-600 mx-auto max-w-3xl">
          Welcome to <span class="font-bold">FotoFinder</span>, a platform where
          you can explore and find high-quality stock images for free. With a
          powerful image search feature powered by
          <span class="font-bold">Pixabay API</span>, we aim to make discovering
          stunning visuals quick and easy. Whether you are a designer, blogger,
          or just love photography, we've got you covered.
        </p>

        <div
          class="mt-8 text-center flex justify-center items-center flex-col"
          id="contact"
        >
          <h3 class="text-2xl mb-2">Follow us</h3>
          <div class="flex gap-x-6 p-4 text-4xl">
            <a
              href=""
              class="opacity-85 hover:opacity-100 transition-opacity duration-200 ease-in-out"
              ><i class="fa-brands fa-linkedin"></i
            ></a>
            <a
              href=""
              class="opacity-85 hover:opacity-100 transition-opacity duration-200 ease-in-out"
              ><i class="fa-brands fa-square-x-twitter"></i
            ></a>
            <a
              href=""
              class="opacity-85 hover:opacity-100 transition-opacity duration-200 ease-in-out"
              ><i class="fa-brands fa-pinterest"></i
            ></a>
            <a
              href=""
              class="opacity-85 hover:opacity-100 transition-opacity duration-200 ease-in-out"
              ><i class="fa-solid fa-envelope"></i
            ></a>
          </div>
        </div>
      </div>
    </section> -->

    <%- include('./partials/about.ejs') %>

    <button
      class="fixed bottom-0 z-40 right-0 bg-opacity-80 mr-8 mb-6 px-4 py-2 rounded-lg text-xl bg-gray-300 hover:bg-opacity-100 transition-colors duration-300 ease-in-out hidden"
      onclick="scrolltop()"
      id="scroll-top"
    >
      Top
    </button>
    
    <div id="user-data" data-user='<%- JSON.stringify(user) %>'></div>

    <script src="/nav.js"></script>
    <script src="/home.js"></script>

  </body>
</html>
